body{
    background-color:black;
    font-family: "FreeSans";
}

#en_tete {
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("banniere.png");
    background-repeat: no-repeat;
    height: 100px;
    margin-bottom: 10px;
    width: 760px;
}

#grid {
    margin-left: 20%;
    margin-right: 20%;
}


#annonce{
    color: yellow;
}

#toolbox{
    float:right;
    color : yellow;

}

#nbgommes{
    font-family: "Ubuntu";
}